{% load humanize %}
{% load static %}
{% for data in data_list %}
    <div class="{{ col_class }}">
        <div class="card card-custom bgi-no-repeat gutter-b card-stretch {% if data.is_archived %}archive-image{% endif %} " id="cardAccount{{ data.id }}">
            <div class="card-body  text-center pt-4 pb-0">
                <div class="d-flex justify-content-end">
                    <div class="card-toolbar mb-7">
                        <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                            <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ki ki-bold-more-hor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                <ul class="navi navi-hover">
                                    <li class="navi-header pb-1">
                                        <span class="text-primary text-uppercase font-weight-bold font-size-sm">Options:</span>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link"
                                           onclick="lockUnlockAccount(this)"
                                           data-id="{{ data.id }}"
                                           data-is_locked="{{ data.is_lock }}">
                                            <span class="navi-icon">
                                                <i class="flaticon2-lock"></i>
                                            </span>
                                            <span class="navi-text">{{ data.is_lock|yesno:"Unlock,Lock" }} Account</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link"
                                           onclick="addToArchives(this)"
                                           data-id="{{ data.id }}"
                                           data-is_archived="{{ data.is_archived }}">
                                            <span class="navi-icon">
                                                <i class="flaticon2-google-drive-file"></i>
                                            </span>
                                            <span class="navi-text">{{ data.is_archived|yesno:"Remove from,Add to" }} Archive</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link"
                                           onclick="addToFavorite(this)"
                                           data-id="{{ data.id }}"
                                           data-is_favorite="{{ data.is_favorite }}">
                                            <span class="navi-icon">
                                                <i class="flaticon2-rocket-1"></i>
                                            </span>
                                            <span class="navi-text">{{ data.is_favorite|yesno:"Remove from,Add to" }} Favorite</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="{% url 'profile:account_details' data.id %}" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="flaticon2-writing"></i>
                                            </span>
                                            <span class="navi-text">View Details</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="flaticon2-graph-1"></i>
                                            </span>
                                            <span class="navi-text">Generate Report</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-n7">
                    <div class="symbol symbol-circle symbol-lg-90 symbol-sm-70 border border-3 border-light">
                        <img class="border border-3 border-white" src="{{ data.institution.icon.image.url }}" alt="image">
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">
                            {{ data.name }}
                            <span id="iconFavorite{{ data.id }}">
                            {% if data.is_favorite %}
                            <i class="flaticon2-correct text-success icon-md ml-2"></i>
                            {% endif %}
                            </span>
                        </a>
                        <span class="text-muted font-weight-bold">
                            {{ data.institution.icon.name }}
                            <span id="iconLock{{ data.id }}">
                            {% if data.is_lock %}
                            <i class="icon-nm fas fa-lock text-muted ml-1"></i>
                            {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="mt-auto " >
                    <p class="mb-7 text-center">{{ data.description|truncatechars:100 }}</p>
                    <div class="mb-7 d-flex align-items-center flex-wrap">
                        <div class="d-flex flex-column text-center w-100">
                            <span class="font-weight-bolder pt-1 font-size-h3">
                                <span class="font-weight-bold text-dark-50">₱</span>
                                {{ data.balance|floatformat:2|intcomma }}
                            </span>
                            <span class="text-muted font-weight-bold font-size-sm">Balance</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
                 <a href="{% url 'profile:account_details' data.id %}"
                    id="viewDetails{{ data.id }}"
                    class="btn btn-block btn-sm {% if data.is_archived %}btn-secondary{% else %}btn-primary{% endif %} font-weight-bolder text-uppercase py-4">view account</a>
            </div>
        </div>
    </div>
{% empty %}
    {% include 'components/empty.html' %}
{% endfor %}
