{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">{{ title }}</h5>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            {% url 'profile:modal_add_account' as add_account %}
            <button class="btn btn-light-primary font-weight-bolder btn-sm"
               data-open-modal
               data-modal-url="{{ add_account }}"
               data-modal-id=""
               data-modal-size="">
                Add New
            </button>
        </div>
        <div class="d-flex align-items-center flex-wrap">
            <a href="#" class="btn btn-bg-white btn-icon-info btn-hover-primary btn-icon mr-3 my-2 my-lg-0">
                <i class="flaticon2-file icon-md"></i>
            </a>
            <a href="#" class="btn btn-bg-white btn-icon-danger btn-hover-primary btn-icon mr-3 my-2 my-lg-0">
                <i class="flaticon-download-1 icon-md"></i>
            </a>
            <a href="#" class="btn btn-bg-white btn-icon-success btn-hover-primary btn-icon mr-3 my-2 my-lg-0">
                <i class="flaticon2-fax icon-md"></i>
            </a>
            <a href="#" class="btn btn-bg-white btn-icon-warning btn-hover-primary btn-icon mr-3 my-2 my-lg-0">
                <i class="flaticon2-settings icon-md"></i>
            </a>
            <a href="#" class="btn btn-bg-white font-weight-bold mr-3 my-2 my-lg-0" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="left">
                <span class="text-muted font-weight-bold mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
                <span class="text-primary font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
            </a>
            <div class="dropdown dropdown-inline my-2 my-lg-0" data-toggle="tooltip" title="Quick actions" data-placement="left">
                <a href="#" class="btn btn-primary btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"></path>
                            </g>
                        </svg>
                    </span>
                </a>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
                    <ul class="navi navi-hover">
                        <li class="navi-header font-weight-bold py-4">
                            <span class="font-size-lg">Choose Label:</span>
                            <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                        </li>
                        <li class="navi-separator mb-3 opacity-70"></li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <span class="label label-xl label-inline label-light-success">Customer</span>
                                </span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <span class="label label-xl label-inline label-light-danger">Partner</span>
                                </span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                </span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <span class="label label-xl label-inline label-light-primary">Member</span>
                                </span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <span class="label label-xl label-inline label-light-dark">Staff</span>
                                </span>
                            </a>
                        </li>
                        <li class="navi-separator mt-3 opacity-70"></li>
                        <li class="navi-footer py-4">
                            <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                            <i class="ki ki-plus icon-sm"></i>Add new</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row" id="divDataList">
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const searchQuery = $('#searchQuery')
    const selectStatus = $('#selectStatus')

    const updateAccountURL = '{% url 'profile:ajax_update_account' %}'
    const redirectionURL = 'flag_redirection'
    const submitBtn = null

    function handleToggleAction({ $el, dataKey, formDataKey, valueMap, onConfirm, onUpdateComplete }) {
        const id = $el.data('id');
        const currentValue = String($el.data(dataKey)).toLowerCase() === 'true';

        const config = valueMap[currentValue ? 'active' : 'inactive'];

        const executeRequest = () => {
            const formData = new FormData();
            formData.append('id', id);
            formData.append(formDataKey, config.nextValue);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
            if (csrfToken) formData.append('csrfmiddlewaretoken', csrfToken);

            Ajax.postRequest(
                updateAccountURL,
                formData,
                submitBtn,
                redirectionURL
            ).then((response) => {
                if (response?.success) {
                    $el.data(dataKey, config.nextValue);
                    $el.find('.navi-text').text(config.updatedText);
                    onUpdateComplete(id, config.onComplete);
                }
            });
        };

        if (onConfirm) {
            onConfirm(config, executeRequest);
        } else {
            executeRequest();
        }
    }

    function lockUnlockAccount(element) {
        handleToggleAction({
            $el: $(element),
            dataKey: 'is_locked',
            formDataKey: 'is_lock',
            valueMap: {
                active: {
                    actionText: "Unlock Account?",
                    bodyText: "This will restore access and allow you to use this account again.",
                    nextValue: "False",
                    updatedText: "Lock Account",
                    onComplete: {
                        icon: ''
                    }
                },
                inactive: {
                    actionText: "Lock Account?",
                    bodyText: "Locking this account will disable it. You won't be able to use it until it is unlocked.",
                    nextValue: "True",
                    updatedText: "Unlock Account",
                    onComplete: {
                        icon: '<i class="icon-nm fas fa-lock text-muted ml-1"></i>'
                    }
                }
            },
            onConfirm: (config, proceed) => {
                Swal.fire(swalWarningConfig({
                    actionText: config.actionText,
                    bodyText: config.bodyText
                })).then((result) => {
                    if (result.isConfirmed) proceed();
                });
            },
            onUpdateComplete: (id, onComplete) => {
                $(`#iconLock${id}`).html(onComplete.icon);
            }
        });
    }

    function addToFavorite(element) {
        handleToggleAction({
            $el: $(element),
            dataKey: 'is_favorite',
            formDataKey: 'is_favorite',
            valueMap: {
                active: {
                    nextValue: "False",
                    updatedText: "Add to Favorite",
                    onComplete: {
                        icon: ''
                    }
                },
                inactive: {
                    nextValue: "True",
                    updatedText: "Remove from Favorite",
                    onComplete: {
                        icon: '<i class="flaticon2-correct text-success icon-md ml-2"></i>'
                    }
                }
            },
            onConfirm: null,
            onUpdateComplete: (id, onComplete) => {
                $(`#iconFavorite${id}`).html(onComplete.icon);
            }
        });
    }

    function addToArchives(element) {
        handleToggleAction({
            $el: $(element),
            dataKey: 'is_archived',
            formDataKey: 'is_archived',
            imageClass: 'archive-image',
            valueMap: {
                active: {
                    actionText: "Remove from archives?",
                    bodyText: "Removing this account from the archives will unhide it and restore full access.",
                    nextValue: "False",
                    updatedText: "Add to Archives",
                    onComplete: {
                        removeClass: "archive-image",
                        buttonAddClass: "btn-light-success",
                        buttonRemoveClass: "btn-secondary"
                    }
                },
                inactive: {
                    actionText: "Add to archives?",
                    bodyText: "Archiving this account will hide it from view and disable its use until it is unarchived.",
                    nextValue: "True",
                    updatedText: "Remove from Archives",
                    onComplete: {
                        addClass: "archive-image",
                        buttonAddClass: "btn-secondary",
                        buttonRemoveClass: "btn-light-success"
                    }
                }
            },
            onConfirm: (config, proceed) => {
                Swal.fire(swalWarningConfig({
                    actionText: config.actionText,
                    bodyText: config.bodyText
                })).then((result) => {
                    if (result.isConfirmed) proceed();
                });
            },
            onUpdateComplete: (id, onComplete) => {
                console.log(onComplete)
                $(`#cardAccount${id}`).removeClass(onComplete.removeClass).addClass(onComplete.addClass);
                $(`#viewDetails${id}`).removeClass(onComplete.buttonRemoveClass).addClass(onComplete.buttonAddClass);
            }
        });
    }
    
    function accountsInputChange() {
        const defaultFormData = {
            'search': searchQuery.val(),
            'status': selectStatus.val(),
            'request_url': '{% url 'profile:subpage_account_list' %}'
        }
        ajaxSubpageRequest(buildFormData(defaultFormData));
    }
    
    accountsInputChange()
    
    searchQuery.on('input', debounce(function() {accountsInputChange()}, 500))
    selectStatus.on('change', accountsInputChange)
</script>
{% endblock %}