{% extends 'base/base.html' %}

{% load static %}

{% block content %}

{% include 'base/components/subheader.html' %}
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-custom card-stretch bgi-no-repeat gutter-b" style="height: 150px; background-color: #4AB58E; background-position: calc(100% + 1rem) bottom; background-size: 17% auto; background-image: url({% static 'media_source/svg/humans/custom-1.svg' %})">
                    <div class="card-body d-flex align-items-center">
                        <div class="py-2">
                            <h4 class="text-white font-weight-bolder mb-3">Keep 20% of your Budget</h4>
                            <p class="text-white">Budgeting isn't about having less it's about getting the most out of
                            <br>what you have monthly, stay consistent.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between flex-lg-wrap flex-xl-nowrap">
                            {% url 'ledger:modal_copy_budget' as copy_modal %}
                            <div class="d-flex flex-column mr-5">
                                <a data-open-modal="" data-modal-url="{{ copy_modal }}" class="h4 text-dark text-hover-primary mb-5">Copy Budget-Limits</a>
                                <p class="text-dark-50 mb-0">Quickly set up your new monthly budget by copying over your spending limits from previous months.</p>
                            </div>
                            <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0 mt-2">
                                <a data-open-modal="" data-modal-url="{{ copy_modal }}" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6">Copy Budget</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-lg-7 order-last order-lg-first">
                <div class="card card-custom gutter-b">
                    <div class="card-header border-0">
                        <div class="card-title py-5">
                            <h3 class="card-label">
                                <span class="d-block text-dark font-weight-bolder">Budgeted Categories</span>
                                <span class="d-block text-muted mt-2 font-size-sm">Month of {% now 'F Y' %}</span>
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-ver"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                    <ul class="navi navi-hover">
                                        <li class="navi-header font-weight-bold py-4">
                                            <span class="font-size-lg">Choose Label:</span>
                                            <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="navi-separator mb-3 opacity-70"></li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span class="label label-xl label-inline label-light-success">Customer</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span class="label label-xl label-inline label-light-danger">Partner</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span class="label label-xl label-inline label-light-primary">Member</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span class="label label-xl label-inline label-light-dark">Staff</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-separator mt-3 opacity-70"></li>
                                        <li class="navi-footer py-4">
                                            <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                            <i class="ki ki-plus icon-sm"></i>Add new</a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2" id="divDataList">
                    </div>
                    <div id="scrollSentinel" class="text-center">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-first order-lg-last">
                <div class="card card-custom gutter-b pt-3">
                    <div class="card-header border-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                <span class="d-block text-dark font-weight-bolder">Categories</span>
                                <span class="d-block text-muted mt-2 font-size-sm">List of Expense Category</span>
                            </h3>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center pt-2">
                        <div class="w-100 mb-7">
                            {% include 'components/inputs/search-input-card.html' with id='searchCategory' class='py-2 px-6 bg-secondary-o-90' placeholder='Search Categories' %}
                        </div>
                        <div class="row px-0 max-h-550px overflow-auto" id="expenseDataList"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const searchQuery = $('#searchCategory')
    const scrollSpinner = $('#scrollSpinner')
    const now = new Date();

    const budgetScroll = new InfiniteScrollController({
        sentinelSelector: '#scrollSentinel',
        getCursorVal: () => cursor.val(),
        resetCursorVal: () => cursor.val(''),
        fetchCallback: function(isAppend) {
            scrollSpinner.toggle(isAppend);

            const formData = buildFormData({
                'search': searchQuery.val(),
                'cursor': cursor.val(),
                'direction': 'next',
                'month': now.getMonth() + 1,
                'year': now.getFullYear(),
                'paginated': true,
                'append': isAppend,
                'scroll_sentinel': 'scrollSentinel',
                'request_url': '{% url 'ledger:subpage_budget_list' %}',
            });

            return ajaxSubpageRequest(buildFormData(formData));
        }
    });

    const handleBudgetFilterChange = debounce(() => {
        budgetScroll.resetAndFetch();
    }, 500);

    function categoryInputChange() {
        const expenseFormData = {
            'search': searchQuery.val(),
            'type': 'expense',
            'usage': 'budget',
            'request_url': '{% url 'ledger:subpage_category_list' %}',
            'component_id': 'expenseDataList',
            'template': 'card-symbol.html',
        }
        ajaxSubpageRequest(buildFormData(expenseFormData));
    }

    function resetInputs() { searchQuery.val('') }

    categoryInputChange()

    searchQuery.on('input', debounce(function() {categoryInputChange()}, 500))

    function deleteBudget(id, category_name){
        Swal.fire(swalWarningConfig({
            actionText: `Remove ${category_name} budget?`,
            bodyText: "The budget limit for this category will be removed for this month.",
        })).then((result) => {
            if (result.isConfirmed){

                const closeBtn = $('#closeBtn')
                const deleteRecordURL = "{% url 'ledger:ajax_delete_budget' %}"
                const redirectionURL = 'flag_redirection'
                const submitBtn = null

                const formData = new FormData();
                formData.append('budget_id', id);
                formData.append('category_name', category_name);

                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
                if (csrfToken) formData.append('csrfmiddlewaretoken', csrfToken);

                Ajax.postRequest(
                    deleteRecordURL,
                    formData,
                    submitBtn,
                    redirectionURL
                ).then((response) => {
                    if (response?.success) {
                        closeBtn.click()
                        categoryInputChange()
                        handleBudgetFilterChange()
                    }
                });
            }
        });
    }

    function updatePaginationState(nextCursor, hasNextPage) {
        console.log(nextCursor, hasNextPage)
        cursor.val(nextCursor);
        budgetScroll.setHasMore(hasNextPage);
    }
</script>
    
{% endblock %} 