.icon-selection {
    display: inline-block;
    border: 2px solid transparent !important;
    border-radius: 0.42rem;
    background: #F3F6F9;
}

.icon-selection:hover, .icon-selection.active {
    border-color: #3445E5 !important;
    cursor: pointer;
}

.select2-container--open {
    z-index: 99999 !important;
}

.select2-modal .select2-container {
    width: 100%!important;
}

.archive-image {
    background-image: url(/static/img/gray-archived.png)!important;
    background-size: contain!important;
    background-position: center!important;
}